<body>
 <form class="calendarcollection-edit-form">
  <legend><%= calendar ? 'Edit' : 'New' %></legend>
  <label>name</label>
  <input name="name" type="text" value="<%= calendar ? calendar.get('name') : '' %>"> 
  <label>year</label>
  <input name="year" type="text" value="<%= calendar ? calendar.get('year') : '' %>"> 
  <label>holidays</label>
  <input name="holidays" type="text" value="<%= calendar ? calendar.get('holidays') : '' %>"> 

  <hr />
  <input type="button" class="btn create" value="<%= calendar ? 'Update' : 'Create' %>" />
  <% if (calendar) { %>
  <input type="hidden" name="id" value="<%= calendar.id %>" />
  <input type="button" class="btn btn-danger delete" value="Delete" /> 
  <% }; %>
  <form action="/#calendars">
    <input type="button" class="btn cancel" value="Back" />
  </form> 
</form>
</body>
</html>